<style>
  h1{
    font-family: fantasy;
    color:       gold;
  }
  body{
    background-color: darkblue;
    text-align:       center;
  }
  a{
    color: orange;
    font-size: 150%;
  }
  a:hover{
    background-color: black;
  }
</style>
<h1>Welcome to Task Manager</h1>

<ul>
  <li><a href="/tasks">Task Index</a></li>
  <li><a href="/tasks/new">New Task</a></li>
</ul>
