<style>
h1{
  font-family: fantasy;
  color:       gold;
}
body{
  background-color: darkred;
  text-align:       center;
}
a{
  color: orange;
  font-size: 150%;
}
a:hover{
  background-color: black;
}
</style>
<h1>All Tasks</h1>

<% @tasks.each do |task| %>
  <h3><%= task.id %>: <a href="/tasks/<%= task.id %>"><%= task.title %></a></h3>
<% end %>
